body {
    background-color: #dbd9db;
    margin: 0%;
}
header {
    background-color: #45503B;
    color: #e5ebea;;
    padding-top: 10px;
    padding-left: 5px;
}
section {
    text-align: center;
}
figure {
    background-color: #e5ebea;
    width: 400px;
    margin: 15px auto;
    border: 2px solid rgb(56, 56, 56);
    padding: 10px;
}
figure img {
    width: 400px;
}
figcaption {
    text-align: center;
    font-style: italic;
    padding: 5px;
}
footer {
    background-color: #B098A4;
    height: 50px;
    padding: 10px;
    text-align: center;
}